@model Tumbleweed.Models.SignupModel
@{
    ViewBag.Title = "Thank You!";
}

<style>
    html {
        background: url('/img/bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<div class="col-lg-6 col-lg-offset-3 panel">
    
    <h2 class="margin-base-vertical">Is that an oasis in the distance?</h2>

    <div class="alert alert-success">
        <strong>Thank you for your interest! </strong> We'll email you as soon as our product is ready.
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Tumbleweed</p>
    </footer>

</div>

